fastapi[standard]
uvicorn[standard]
langchain
langchain-community
langchain-text-splitters
pypdf
sentence-transformers
langchain-huggingface
chromadb
langchain-chroma
python-dotenv
pydantic

# LLM provider client (Gemini)
langchain-google-genai
